<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.css">
    <title>To-Do</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Cerrar Sesión</a></li>
            <!-- <li><a href="#">Cambio de credenciales</a></li>
            <li><a href="#">Sobre nosotros</a></li> -->
        </ul>
    </nav>
    <div class="container">
        <div class="todo">
            <center><h2>Lista de Tareas<img src="images/to-do list.png"></h2></center>
            <div class="row">
                <input type="text" id="input-box" placeholder="Ingresa una Tarea">
                <button onclick="AddTask()">Añadir</button>
            </div>
            <ul id="list-container">
                <!-- <li class="checked">Tarea 1</li>
                <li>Tarea 2</li>
                <li>Tarea 3</li> -->
            </ul>
        </div>
    </div>
    <script src="logic.js"></script>
</body>
</html>
